# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Django
*.logs
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/
*.swp
*.swo

#photos
.photos/

# OS
.DS_Store
Thumbs.db

# Virtual Environment
(.venv)
